status_bar {
    animation_speed 500
}

soft_wrap #false

theme {
    ui {
        status_bar {
            fg "white"
            bg "dark_grey"
        }
        popup {
            fg "white"
            bg "dark_grey"
        }
    }
}
